@using SubChoice.Core.Data.Entities
<div class=" Subj">
    @{
        ViewData["Title"] = "Users list";
    }

    <div class="d-flex justify-content-between my-4"><h1 class="p-0">@ViewData["Title"]</h1></div>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            @{
                var data = (Dictionary<string, List<User>>)ViewData["Users"];
            }
            @foreach (KeyValuePair<string, List<User>> key in @data)
            {
                @foreach (User user in key.Value)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        @if (key.Key == "students")
                        {
                            <td>Student</td>
                        }
                        @if (key.Key == "teachers")
                        {
                            <td>Teacher</td>
                        }
                        @if (key.Key == "admins")
                        {
                            <td>Admin</td>
                        }
                    </tr>
                }
            }

        </tbody>
            </table>
</div>