@using SubChoice.Core.Data.Entities
<div class=" Subj">
    @model SubChoice.Core.Data.Dto.IdDto

    @{
        ViewData["Title"] = "Teachers To Approve";
    }
    <div class="d-flex justify-content-between my-4"><h1 class="p-0" style="margin-left:3%;">@ViewData["Title"]</h1> </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Teacher Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                var data = (List<User>)ViewData["Teachers"];
                if (data == null)
                {
                    data = new List<User>();
                }
            }
            @foreach (var teacher in @data)
            {
                <tr>
                    <th scope="row">@teacher.Email</th>
                    <td>@teacher.DisplayName</td>
                    <td>
                        <form method="post" asp-controller="Admin" asp-action="ApproveTeacher">
                            <button type="submit" class="btn btn-success">Approve</button>
                            <input type="hidden" name="Id" value=@teacher.Id />
                            <input type="hidden" name="IsApproved" value="true" />
                        </form>
                    <td>

                </tr>
            }
        </tbody>
    </table>
</div>